.idea/*
.gradle/*
build/*
gradle/*
gradlew
gradlew.bat

# Test server files
/src/main/test/server/*
!/src/main/test/server/paper-1.20.4-496.jar
!/src/main/test/server/server.properties
!/src/main/test/server/plugins/item-nbt-api-plugin-2.12.4.jar