/.idea
/.gradle
/build
/gradle
gradlew
gradlew.bat

/bin

# Test server files
/src/test/server/
/!src/test/server/paper-*.jar
/!src/test/server/plugins/item-nbt-api-plugin-*.jar

# Nix + direnv
/.direnv/
/result
